{% extends "index.html" %}
{% block hero %}{% endblock %}

{% block content %}
    <div class="section matching-section">
        <h2 class="section-title">Latest Missions</h2>
        
        <div class="missions-grid">
            {% for mission in missions %}
                <div class="mission-card">
                    <div class="card-content">
                        <div class="card-header">
                            <h3 class="card-title">{{ mission.title }}</h3>
                            <span class="posted-date">{{ mission.posted_date.strftime('%Y-%m-%d') }}</span>
                        </div>
                        <div class="card-details">
                            <p class="card-description">{{ mission.description }}</p>
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                <span>{{ mission.broker.name }}</span>
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>{{ mission.location }}</span>
                            </p>
                            <p class="card-text">
                                <i class="fas fa-tags"></i>
                                <span>{{ mission.required_skills }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 